<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99409921345-ng0trkgh3i1u1g42lhn35l0k3ml5gmg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99409921345-ng0trkgh3i1u1g42lhn35l0k3ml5gmg9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>99409921345-rnqvhf6dfpcaovrrj95p0uv08kv2nuld.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Mp3R0lIsBtRePqMuKAhM8ge25DO5I3g</string>
	<key>GCM_SENDER_ID</key>
	<string>99409921345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greentie</string>
	<key>PROJECT_ID</key>
	<string>avsec--portal-ver100</string>
	<key>STORAGE_BUCKET</key>
	<string>avsec--portal-ver100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99409921345:ios:2e468d7ef3954aca564dc0</string>
	<key>DATABASE_URL</key>
	<string>https://avsec--portal-ver100.firebaseio.com</string>
</dict>
</plist>